/* HOME */
.heroAnimatedBox {
  width: 100%;
  overflow: hidden;
  background-image: url('/images/screen.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: height 0.3s ease;
}

.name {
  font-size: 3rem;
  margin: 0;
  color: white;
  margin-right: 50px;
  font-family: var(--font-jost-regular);
}

.subname {
  margin: 0;
  margin-right: 50px;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: white;
  border: 1px solid white;
  padding: 2px 20px;
  font-family: var(--font-jost-light);

}

.textHome {
  width: 45vw;
  font-size: 1.25rem;
  margin-top: 1rem;
  color: #9d9d9d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
  font-family: var(--font-jost-light);
}

/* ABOUT ME */
.container {
  padding: 4rem 0rem;
  margin: auto;
  color: #f4f4f5;
}

.title {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 600;
  color: black;
  font-family: var(--font-jost-regular);
  padding-top: 30px;
}

.boxTrajectory {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.trajectory {
  color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 49rem;
  font-family: var(--font-jost-regular);
  font-size: 1.1rem;
}

.titleStack {
  color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  font-family: var(--font-jost-regular);
}

.icon {
  width: 32px;
  height: 32px;
  color: #010101;
}

.techGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
  width: 30em;
}

.techItem {
  color: black;
  padding: 1rem 1rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-jost-regular);
}

.downloadBtn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #444444;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.downloadBtn:hover {
  background-color: #656565;
}

/* PROYECTS */
.proyects {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  perspective: 1000px;
  margin: 2rem auto;
  display: flex;
  max-width: 44em;
  gap: 2em;
}

.boxCard {
  position: relative;
  width: 700px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  /* animación más estable */
}

.card:hover .boxCard {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cardFront img,
.cardBack img {
  width: 100%;
  height: 100%;
}

.cardBack {
  transform: rotateY(180deg);
}

.buttonLive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: var(--font-jost-regular);
  background-color: #444444;
  margin-bottom: 2em;
}

.buttonLive:hover {
  background-color: #636363;
}

/* CONTACT */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50em;
  height: auto;
  padding-top: 4em;
  color: black;
  gap: 2em;
  background-color: #f5f5f5;
}

.form .label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
  font-family: var(--font-jost-regular);
}

.form .name,
.form .email {
  color: black;
  width: 35em;
  height: auto;
  margin: 0;
  font-size: 14px;
  padding: 0.5em;
  box-sizing: border-box;
  font-family: var(--font-jost-light);
}

.form .text {
  color: black;
  width: 34em;
  resize: none;
  font-size: 14px;
  font-family: var(--font-jost-light);
  padding: 0.5em;
}

.buttonSend {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: var(--font-jost-regular);
  background-color: #444444;
  border: none;
}

.buttonSend:hover {
  background-color: #636363;
}

.sendingMessage {
  color: black;
  font-family: var(--font-jost-regular);
}

.successMessage {
  color: black;
  font-family: var(--font-jost-regular);
}

.errorMessage {
  color: #dc3545;
  font-family: var(--font-jost-regular);
}
