/* HOME */
.heroAnimatedBox {
  width: 100%;
  overflow: hidden;
  background-image: url('/images/screen.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: height 0.3s ease;
}

.name {
  font-size: 2.3rem;
  margin: 0;
  color: white;
  margin-right: 50px;
}

.subname {
  margin: 0;
  margin-right: 50px;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: white;
  border: 1px solid white;
  padding: 2px 20px;
}

.textHome {
  width: 50vw;
  font-size: 1.25rem;
  margin-top: 1rem;
  color: #9d9d9d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ABOUT ME */
.container {
  padding: 4rem 0rem;
  margin: auto;
  color: #f4f4f5;
  border: 1px solid blue;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 600;
  color: black;
}

.boxTrajectory {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.trajectory {
  color: black;
  border: 1px solid red;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 49rem;
}

.titleStack {
  color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
}

.icon {
  width: 32px;
  height: 32px;
  color: #010101;
}

.techGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
  width: 50em;
}

.techItem {
  color: black;
  padding: 1rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downloadBtn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #00bfa6;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.downloadBtn:hover {
  background-color: #009e8c;
}
